.App-logo {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}


.overlapp-bottom{
  position: relative;
  z-index: 0;
  left: 23px;
  top: 38px;
  
}

.App{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}